In [80]:
import pandas as pd
import pickle
from sklearn.metrics import mean_squared_error, r2_score

In [81]:
df = pd.read_csv("pickle_test.csv")

In [82]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Region,Classes_fire,Classes_not_fire
0,28,10,2016,8,57,18,1.5,68.7,3.4,7.6,1.3,3.4,0.9,0,0.0,1.0
1,24,9,2013,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,1.5,0,1.0,0.0

In [83]:
input_df = df.drop(columns=['FWI'])
output_df = df['FWI']

In [84]:
input_df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,Region,Classes_fire,Classes_not_fire
0,28,10,2016,8,57,18,1.5,68.7,3.4,7.6,1.3,3.4,0,0.0,1.0
1,24,9,2013,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0,1.0,0.0

In [85]:
output_df

0    0.9
1    1.5
Name: FWI, dtype: float64

In [86]:
# Load the scaler from the pickle file
with open('scaler1.pkl', 'rb') as f:
    scaler = pickle.load(f)
scaled_df = scaler.transform(input_df)

In [87]:
scaled_df

array([[ 1.48270053,  2.24648296,  4.        , -7.34004581, -0.36204686,
         1.19161742,  4.95014893, -1.22740607, -1.15386041, -1.06439942,
        -1.02468413, -1.16976211, -0.95152793, -1.32842233,  1.32842233],
       [ 1.01157766,  1.35921658,  1.        , -1.0220587 , -0.07685911,
        -0.924479  ,  4.21698612, -1.65425951, -1.07367028, -1.06439942,
        -1.11177302, -1.12131409, -0.95152793,  0.75277265, -0.75277265]])

In [88]:
# Load the pickled model
with open('linear_regression_model.pkl', 'rb') as file:
    model = pickle.load(file)
y_pred_new = model.predict(scaled_df)

In [89]:
y_pred_new

array([-1.04332512,  0.15322223])

In [90]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(output_df, y_pred_new)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(output_df, y_pred_new)

# Calculate R-squared (R2)
r2 = r2_score(output_df, y_pred_new)

# Print the calculated metrics
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 2.795161431906735
Mean Absolute Error (MAE): 1.6450514423848122
R-squared (R2): -30.05734924340817

In [91]:
y_pred_new

array([-1.04332512,  0.15322223])

****Strengths of Multilinear Regression:**
- **Interpretability:** Coefficients are easy to interpret.
- **Simple and Fast:** Computationally efficient and easy to implement.
- **Versatility:** Can handle multiple predictor variables simultaneously.

**Limitations of Multilinear Regression:**
- **Linearity Assumption:** Assumes a linear relationship between predictors and target.
- **Outlier Sensitivity:** Predictions can be strongly influenced by outliers.
- **Independence Assumption:** Assumes predictor variables are independent.

**Recommendations for Improvement:**
- **Explore Non-Linear Models:** Try polynomial regression or machine learning algorithms.
- **Address Multicollinearity:** Use PCA or regularization methods.
- **Feature Engineering:** Create or transform features for better performance.
- **Cross-Validation:** Validate model performance rigorously.
- **Apply Regularization:** Use Lasso or Ridge regression to prevent overfitting.**